/*Snek customization*/
.s-snek{
   /*background*/
    --light-bg:#f0f0f0;
    --dark-bg:#171727;
  /*snek*/
  --red:#F44336;
  --blue:#1E88E5;
  --yellow:#FDD835;
  /*default*/
  --default-color:var(--blue);
  min-height: 50vh;
}
/* content */
.s-snek:nth-child(odd){background:var(--light-bg);}
.s-snek:nth-child(even){background:var(--dark-bg);color:#bdbdbd;}

/* styling elements using style attr & css variables
.s-snek[style]>span{background:var(--snek-color, var(--snek-gradient));} */

/*custom colors*/
.s-snek.s-blue>span{ background:var(--blue);}
.s-snek.s-red>span{background:var(--red);}
.s-snek.s-yellow>span{background:var(--yellow);}

.s-snek.s-gradient-1>span{background:linear-gradient(to bottom, #b19001 0%,#f06d06 100%);}
.s-snek.s-gradient-2>span{background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%);}

/*custom sizes*/
.s-snek.s-custom-1>span:nth-of-type(even){width: 12px;}
.s-snek.s-custom-1>span:nth-of-type(odd){height: 60px;}

.s-snek.s-custom-2>span:nth-of-type(even){width: 60px;}
.s-snek.s-custom-2>span:nth-of-type(odd){height: 12px;}

.s-snek.s-custom-3>span:nth-of-type(even){width: 12px;}
.s-snek.s-custom-3>span:nth-of-type(odd){height: 12px;}

.s-snek.s-custom-4>span:nth-of-type(even){width: 50%;}
.s-snek.s-custom-4>span:nth-of-type(odd){height: 0;}

.s-snek.s-custom-5>span:nth-of-type(even){width: 12px;}
.s-snek.s-custom-5>span:nth-of-type(odd){height: 145px;}
/*custom syles*/

/*_3d*/
.s-snek._3d{overflow: hidden;}
.s-snek._3d>span:before{
  content:"";
  display: block;
  position: absolute;
  /*darker yellow*/
  background:#b19001;
  top: 5px;
}
/*X axis*/
.s-snek._3d:nth-of-type(even)>span:nth-child(odd):before{
  height: calc(100% - 12px);
  width: 5px;
  top: 7px;
  right: 3px;
  transform: skew(0, -300deg);
  margin-bottom: 28px;
}

.s-snek._3d:nth-of-type(odd)>span:nth-child(even):before{
  width: 100%;
  height: 5px;
  left: 5px;
  transform: skew(-300deg, 0);
}
/*Y axis*/
.s-snek._3d:nth-of-type(odd)>span:nth-child(odd):before{
  width: 5px;
  height: calc(100% - 12px);
  left: 5px;
  margin-bottom: 28px;
  transform: skew(0, 300deg);
  top: 8px;
}
.s-snek._3d:nth-of-type(even)>span:nth-child(even):before{
  width: 100%;
  height: 5px;
  top: 3px;
  left: -5px;
  transform: skew(300deg, 0);
}

/**/
body{background:#fcfcfc;}
em{color:#9c9c9c;}
pre{
  width: 80%;
  margin: 6px auto;
  padding: 0;
}
code{color:#099;}
.content pre:first-of-type{
  margin-top: 52px;
}
.caption{
  font-size:2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.caption.custom{
  text-shadow: 6px 2px 4px rgba(51,51,51,0.49);
  font-size:3em;
  color:#f0f0f0;
}
.nuffin{background:#303030;position: relative;}
.nuffin .caption{align-items: bottom;}
.caption+p{  text-align: right;  padding-right: 12px;}
.content pre+p, .content pre+p+p{ text-align: center;}
.content .tag{
  position: absolute;
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size:1.3em;
}
p.strong{text-align: center; color:#333;}
.content{padding: 2.5em;}
#eg{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999999999999999999999;
  text-align: center;
  width: 100%;
  background:#3c3c3c;
}
.active #eg{display: block;}
.s-eg{height: 150vh;}
#eg>div{
  transition: background .6s ease-in;
  background:#3c3c3c;
  color:#bcbcbc;
  border-radius: 3px;
}
#eg>div>div{
  display: inline-block;
  color:#fcfcfc;
  font-size:2em;
  width: 150px;
  margin: 0 auto;

}
#eg>div.active{
  background:#099;
}
.rS, .eH, .r, #eg>div strong{
  font-size:2em;
  color:#fcfcfc;
}
#eg .line{content:"";display: block;width: 100%;position: fixed;top: 95%;height: 1px;background:red;z-index: 9999999;left: 0;right: 0;}*/
/*Hder*/
.header{
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}
.header .intro{
  width: 100%;
  height: 100vh;
  padding-top: 36vh;
}
.header .links{
  text-align: center;
  width: 100%;
}
.header a{
  text-align: center;
  margin: 0 auto;
  color:#909090;
}
.header a:hover{color:#171727;}
.header a i{
  font-size:1.4em;
}
.intro h1{
  font-size:2.6em;
  text-align: center;
}
.intro h2{font-size:1.4em;text-align: center;color:#999;}
.intro h3{text-align: center;}
.intro h3 em{font-size:1em;color:#bbb;}

.header h3.tag{
  position: relative;
  top: 25px;left: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.header h4{
  margin: 12px 0;
  text-align: left;
  font-size: 1.1em;
  color:#555;
}
.scrollText{
  position: absolute;
  text-align: center;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
}
.anchor-link{
	z-index: 9999;
  width: 22px;
  height: 22px;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
  -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
  position: absolute;
  bottom: 12px;
  left:calc(50% - 11px);
  cursor: pointer;
}
.container>.anchor-link{
  left: inherit;
  bottom: 12px;
  right: 24px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border-width: 3px;
}
.theend{
  text-align: center;
  font-size:6em;
  color:#f0f0f0;
}
.active .bottom-text{display: block;}
.bottom-text{
  display: none;
  position: fixed;
  left: 0;
  bottom: 12px;
  width: 100%;
  text-align: center;
}
/*fakeCOntent*/
.fc>p{
  width: 80%;
  margin: 0 auto;
  height: 22px;
  background:#777;
  margin-top: 6px;
}
.fc>div{
  width: 80%;
  margin: 0 auto;
  height: 175px;
  background:#666;
  margin-top: 12px;
}
.fc>hr{
  width: 80%;
  margin: 12px auto;
  background:#a7a7a7;
}
h4.bottom-caption{
  text-align: right;
  margin-top: 42px;
  margin-right: 12px;
}

